@import url('https://fonts.cdnfonts.com/css/product-sans');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #191919;
    color:#F6F6F6;
                               
}
.destaque-titulo{
    color: #22D4FD;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
     width: 615px;
    
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Product Sans', sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Product Sans' , sans-serif;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    
}
.apresentacao__links__link{
    text-align: center;
    background-color: #22D4FD;
    color: #000000;
    width: 280px;
    height: 79px;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Product Sans' , sans-serif;

}

