@import url('https://fonts.cdnfonts.com/css/product-sans');

:root{
    --cor--primaria: #191919;
    --cor--secundaria: #f6f6f6;
    --cor--terciaria:#6A36CF;
    --cor--hover:#393939;
    --cor--texto:#000000;
    --fonte--principal:'Product Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color:var(--cor--secundaria);
    transition:  0.5 ease;
                               
}
.destaque-titulo{
    color: var(--cor--terciaria);
}
.cabecalho{
    padding: 2% 0% 2% 8%;
    background-color: var(--cor--terciaria);
    
    
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    
    
}
.cabecalho__menu__link{
    font-family: var(--fonte--principal);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor--texto);
    
    
}
.apresentacao{
    padding: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
     width: 50%;
    
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte--principal);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte--principal);
}
.apresentacao__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    
}


.apresentacao__links__subtitulo{
    font-family: var(--fonte--principal);
    font-size: 1.5rem;
    font-weight: 550;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border: 2px solid #F6F6F6;
    border-color: #F6F6F6;
    color: #f6f6f6;
    width: 50%;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 15px 0;
    text-decoration: none;
    font-family: var(--fonte--principal);
    
}
.apresentacao__links__redes{
    max-width: 2rem;
    
    
}

.apresentacao__links__link:hover{
    background-color:var(--cor--hover) ;}


.foto-perfil{
    width: 35%;
    border-radius: 18px;
}
.rodape{
    color: var(--cor--texto);
    background-color: var(--cor--terciaria);
    padding: 23px;
    text-align: left;
    font-family: var(--fonte--principal);
    font-size: 0.8rem;
    
    

}
@media (max-width:1200px){
    
    .cabecalho{
        padding: 2%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
     .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }  
    .apresentacao__conteudo{
        width: auto;
    }
    




}
